


# ignore all environment files
*.env

# ignore lakehouse config files to ignore becuase they have secrets
lakehouse/trino/catalog/iceberg.properties

# ignore the lakehouse data directory but keep README
lakehouse/data/*
!lakehouse/data/README.md


# ignore other local cache files
*__pycache__*

# ignore venv's
*.venv

# ignore other files
.DS_Store
