# Environment files
.env
*.env

dagster/uv.lock
dagster/.venv
# Config files (keep .example versions)
lakehouse/trino/catalog/iceberg.properties

# Data directory (keep README)
lakehouse/data/*
!lakehouse/data/README.md


# other files
.DS_Store